body{
	background-image: url("technology.jpg");
	background-transparent: 0.2;
}

ul{
	text-decoration: none;
}

li{
	display: block;
	font-size: 20px;
	padding: 15px;
	margin: 10px auto;
	
}

li:hover{
	background-color: salmon;
}

a{
	text-decoration: none;
}
