body{
	background-color: rgba(255, 150, 22, 0.5);
}

ul{
	text-decoration: none;
}

li{
	display: block;
	font-size: 20px;
	padding: 10px;
	color: black;
}

li:hover{
	background-color: salmon;
}

a{
	text-decoration: none;
}